Source: libhmac
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, libssl-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libhmac

Package: libhmac
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libhmac-dbg
Description: Library to support various Hash-based Message Authentication Codes (HMAC)
 libhmac is a library to support various Hash-based Message Authentication Codes (HMAC).

Package: libhmac-dbg
Architecture: any
Section: debug
Depends: libhmac (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libhmac
 Debugging symbols for libhmac.

Package: libhmac-dev
Section: libdevel
Architecture: any
Depends: libhmac (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libhmac
 Header files and libraries for developing applications for libhmac.

Package: libhmac-tools
Section: utils
Architecture: any
Depends: libhmac (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for calculating Hash-based Message Authentication Codes (HMAC)
 Several tools for calculating Hash-based Message Authentication Codes (HMAC).

Package: libhmac-tools-dbg
Section: debug
Architecture: any
Depends: libhmac-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libhmac-tools
 Debugging symbols for libhmac-tools.

